@font-face {
	font-family: 'Pragmatica';
	font-style: normal;
	font-weight: 300;
	src: local(''),
	url("../fonts/Pragmatica-Light.woff2") format("woff2"),
	url("../fonts/Pragmatica-Light.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'Pragmatica';
	font-style: normal;
	font-weight: 500;
	src: local(''),
	url("../fonts/Pragmatica-Medium.woff2") format("woff2"),
	url("../fonts/Pragmatica-Medium.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'Pragmatica';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url("../fonts/Pragmatica-Regular.woff2") format("woff2"),
	url("../fonts/Pragmatica-Regular.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'TTCommons';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	url("../fonts/TTCommons-Bold.woff2") format("woff2"),
	url("../fonts/TTCommons-Bold.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'TTCommons';
	font-style: normal;
	font-weight: 600;
	src: local(''),
	url("../fonts/TTCommons-DemiBold.woff2") format("woff2"),
	url("../fonts/TTCommons-DemiBold.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'TTCommons';
	font-style: normal;
	font-weight: 500;
	src: local(''),
	url("../fonts/TTCommons-Medium.woff2") format("woff2"),
	url("../fonts/TTCommons-Medium.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: 'TTCommons';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url("../fonts/TTCommons-Regular.woff2") format("woff2"),
	url("../fonts/TTCommons-Regular.woff") format("woff");
	font-display: swap;
}
